# Directories
data/

# Swap files
*.swp

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Specific executables
crawler

# Testing files
msort_test.cpp